.list-products {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filters {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 35px;
}