<div class="container mt-5 prod" align="center">
  <h2>Productos</h2>

  <input
    [(ngModel)]="searchParam"
    (ngModelChange)="hacerBusqueda()"
    type="text"
    placeholder="Buscador inteligente"
    class="form-control mb-2"
  />

  <table border="1" class="table table-dark">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uno of products">
        <td><img src="{{ uno.image }}" height="65px" /></td>
        <td>{{ uno.name }}</td>
        <td>{{ uno.description }}</td>
        <td>${{ uno.price }}</td>
        <!--  <td>
          <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        </td>
        <td>
          <button (click)="deleteItem(uno)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
