<div class="container" align="center">
  <button (click)="openModal()" class="btn btn-info mt-5">Grafico</button>
</div>

<ng-template #modalPost let-modal>
  <div class="modal-body">
    <div class="exit">
      <i (click)="modal.dismiss('Cross click')" class="btn btn-dark m-2"><i class="fas fa-times"></i> </i>
    </div>
    <div class="chart-bar card">
      <div>
        <div style="display: block">
          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [type]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</ng-template>
