<div class="footer" data-aos="flip-down">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <h2>Mi marca</h2>
                <h3>Av 1234, Buenos aires, ARG</h3>
                <div class="footer-menu">
                    <p>+012 345 67890</p>
                    <p>info@email.com</p>
                </div>
                <div class="footer-social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">OS</a>, All Right Reserved | Diseñador por <a href="https://overclocksolutions.com.ar">OS</a></p>
        </div>
    </div>
</div>